<html>
  <head>
    <meta charset="utf-8">
    <title>Astro MongoDB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <nav>
      <a href='/users'>All Users</a>
      <a href='/users/create'>Create User</a>
    </nav>
    <div>
      <slot /> <!-- your content is injected here -->
    </div>
  </body>
</html>